<div class="users-container">
  <header>
    <div class="header-container">
      <h1>CowChat</h1>
      <form>
        <input type="text" placeholder="Buscar usuario...">
      </form>
    </div>
  </header>

  <div class="user-card-container">
    @for (user of users; track user.id) {
      <div class="user-card" (click)="openChat(user)">
        <div class="user-img">
          <img
            src="https://images.unsplash.com/photo-1462888210965-cdf193fb74de?fm=jpg&q=60&w=3000"
            alt="User Image">
        </div>

        <section class="user-info">
          <h3>{{ user.username }}</h3>
          <p>{{ user.isOnline ? 'En línea' : 'Desconectado' }}</p>
        </section>

        <section class="user-meta">
          <p>10:30</p>
        </section>
      </div>
    } @empty {
      <p>No hay usuarios registrados.</p>
    }
  </div>
</div>
