<section class="register-container">
  <form [formGroup]="form" class="register-form">
    <h1>CowChat</h1>
    <h2>Iniciar sesión</h2>
    <p>Completa el formulario para iniciar</p>
    <div class="form-content">
      <input formControlName="username" type="text" id="username" placeholder="Nombre de usuario"/>

      <input formControlName="password" type="password" id="password" placeholder="Contraseña"/>
    </div>

    <button (click)="onSubmit()" class="submit-botton">Login</button>

    <p>¿No tienes cuenta aún? <a>Registrate aqui</a></p>
  </form>

</section>
