  <div>
    <header class="main-header">
      <h1>CowChat</h1>
      <div class="main-header-buttons">
        <button (click)="redirectAtLogin()"><b>Iniciar sesión</b></button>
        <button (click)="redirectAtRegister()"><b>Registrarse</b></button>
      </div>
    </header>
    <main class="main-content">
      <aside>
        <img src="https://substackcdn.com/image/fetch/$s_!SQCD!,f_auto,q_auto:good,fl_progressive:steep/https%3A%2F%2Fbucketeer-e05bbc84-baa3-437e-9518-adb32be77984.s3.amazonaws.com%2Fpublic%2Fimages%2F8ba7e777-f4c7-4973-9f4b-989023b322f3_600x315.png" alt="">
      </aside>
      <article>Contenido principal
        <div>
          <h2>Bienvenidos a Cow Chat</h2>
        </div>
      </article>
    </main>
    <footer>Pie de página super bonito</footer>
  </div>
